@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter.ttf') format('truetype');
}

* {
    font-family: 'Inter';
}

body {
    margin: 0 auto;
} 

.header {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    color: white; 
    background-color: #308503; 
    padding: 25px;
} 

.header button {
    padding: 10px; 
    border: 2PX solid black; 
    border-radius: 5px; 
    cursor: pointer; 
    box-shadow: 5px 5px black;
} 

.header #back {
    color: white;
    background-color: lightsalmon;
}

.header #add {
    color: white;
    background-color: orange; 
}
 
.header #logout {
    color: white;
    background-color: red; 
    margin-left: 10px;
} 

.container { 
    margin: 0 auto;
} 

table {

    width: 100%; 
    margin-bottom: 1rem;  
} 

th, td { 
    padding: 10px; 
    text-align: center; 
    vertical-align: top; 
} 

th { 
    color: white; 
    background-color: #308503;
} 

.actions button { 
    border: none; 
    background: none; 
    cursor: pointer; 
    font-size: 16px; 
} 

.actions img { 
    width: 20px; 
    height: 20px; 
}

div .right {
    display: flex;
    align-items: center;
    padding: 10px;
}

button {
    display: inline-block;
    margin: 5px;
}
